<script>
	window.colorCalc = {
		// conversions
		degToRad: function(deg) { return deg * Math.PI / 180; },
		radToDeg: function(rad) { return rad * 180 / Math.PI; },
		// colors
		hexToRgb: function(hex) {
		    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
		    return result ? {
		        r: parseInt(result[1], 16),
		        g: parseInt(result[2], 16),
		        b: parseInt(result[3], 16)
		    } : null;
		},
		rgbToHex: function(r, g, b) {
		    return ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1).toUpperCase();
		},
		rgbToHsl: function(r, g, b) {
		    r /= 255, g /= 255, b /= 255;
		    var max = Math.max(r, g, b), min = Math.min(r, g, b);
		    var h, s, l = (max + min) / 2;
		    if(max == min){
		        h = s = 0;
		    } else {
		        var d = max - min;
		        s = l > 0.5 ? d / (2 - max - min) : d / (max + min);
		        switch(max){
		            case r: h = (g - b) / d + (g < b ? 6 : 0); break;
		            case g: h = (b - r) / d + 2; break;
		            case b: h = (r - g) / d + 4; break;
		        }
		        h /= 6;
		    }
		    return [h, s, l];
		},
		rgbToRyb: function(r, g, b) {
		    var w = Math.min(r, g, b);
		    r -= w;
		    g -= w;
		    b -= w;
		    var mg = Math.max(r, g, b);
		    var y = Math.min(r, g);
		    r -= y;
		    g -= y;
		    if (b && g) {
		        b /= 2.0;
		        g /= 2.0;
		    }
		    y += g;
		    b += g;
		    var my = Math.max(r, y, b);
		    if (my) {
		        var n = mg / my;
		        r *= n;
		        y *= n;
		        b *= n;
		    }
		    r += w;
		    y += w;
		    b += w;
		    return {'r':r, 'y':y, 'b':b};
		}
	};
</script>